.firstBox {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.secondBox {
  display: flex;
  flex-direction: column;
  width: 46%;
}

.chipContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 8px;
  /* color: black; */
}

.fileuploadview {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
}

.txt1 {
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 12px;
  border-bottom: 1px solid white;
}

.txt2 {
  font-size: 14px;
  cursor: pointer;
  color: #000;
}

.txt3 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.box {
  margin-top: 42px;
}

.box2 {
  display: flex;

  margin-top: 42px;
}

.tagsDiv {
  margin-top: 24px;
  border-radius: 5px;
  padding: 7px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 8px 14px;
  border-radius: 20px;
  background-color: #e0e0e0;
  color: rgb(0, 0, 0);
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
}

.address {
  color: #000;
}

.addressContainer {
  display: flex;
  flex-direction: column;
}

.innerdiv {
  padding: 10px;

  display: flex;
  flex-direction: row;
  margin: 3px;
  justify-content: space-between;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  width: 40%;
}

.subBox {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-top: 82px;
}

.miniBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
