.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1408px;
  margin: auto;
  height: 85px;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  z-index: 99;
  color: white;
  background: transparent;
}
.ncontainer {
  display: flex;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(13,17,23,0);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1408px;
  margin: auto;
  height: 85px;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  z-index: 99;
  color: white;
  background: transparent;
}

.subContainer1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: white;
  align-items: center;
}

.txt1 {
  font-size: 24px;
  cursor: pointer;
}

.txt2 {
  font-size: 16px;
  cursor: pointer;
  font-size: 600;
}
